.footer {
  background-color: #222;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #949494;
}

.footer .footer__info a {
  font-size: 12px;
  font-weight: 700;
  color: #949494;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.footer .footer__info a:hover {
  color: #fff;
}

.footer .footer__info .hideOnPC {
  display: none;
}

.footer .footer__info .footer__partner .row {
  margin-bottom: 20px;
}

.footer .footer__info .footer__partner .row a {
  padding-right: 20px;
}

.footer .footer__info .footer__partner .row a img {
  width: 30px;
  height: 30px;
  border-radius: 30px;
}

.footer .footer__info .footer__partner .row a img:hover {
  opacity: .7;
}

.footer .footer__info .footer__app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer__info .footer__app img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.footer .footer__title {
  color: #fff;
  font-size: 13px;
}

.footer #hrFooter {
  border-top: 1px solid #4a4a4a;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer .footer__add .address__detail p {
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 700;
}

.footer .footer__add .address__detail .footer__title {
  font-size: 14px;
  font-weight: unset;
}