.movielist .slick-prev:before,
.movielist .slick-next:before  {
    color: gray;
    font-size:50px;
}
.movielist .slick-prev,
.movielist .slick-next  {
    top: 40%;
}
.movielist .slick-prev{
    left:-90px;
}

.movielist  .movielist__btn{
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px 30px;
    border: 1px solid #fff;
    color: var(--text-white);
    background: transparent;
    z-index: 1;
    height: 40px;
    font-size: 18px;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;

}
.movielist  .movielist__btn:hover{
    background: var(--text-primary);
    color: var(--text-white); 
    border: 1px solid var(--text-primary);
}
.movielist  .coming__button {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    padding: 14px 19px;
    border: 1px solid #fff;
    color: #fff;
    z-index: 1;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}
.movielist  .coming__button:hover{
    border: 1px solid var(--text-primary);
    color: var(--text-primary);
}
.movielist .movieList__overLay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    transition:all .5s;
}
.movielist .ant-card-hoverable:hover .movieList__overLay{
    background: #000;
    opacity: 0.5;

}
.movielist .ant-card-hoverable{
    transition: all .5s;
}
.movielist .ant-card-hoverable:hover .coming__button,
.movielist .ant-card-hoverable:hover .movielist__btn{
    opacity: 1;
    visibility: visible;
}
.movielist .ant-card-hoverable{
    border: 1px solid transparent;
}
.movielist .ant-card-hoverable:hover{
    box-shadow: none;
}
.movielist_link span {
    color: var(--text-color);
    font-size:25px;
}
.movielist_link.active span {
    color: var(--text-primary);
    font-size:25px;
}

.movielist__tab{
    display: flex;
    text-align: left;
    width: 300px;
}
.movielist__tab img{
    margin-right: 10px;
}
.movielist__tab div{
    padding: 5px 0 0;
}
.movies__lists{
    padding:  0 0 50px ;
}
.movies__lists .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #000;
    text-shadow: 0 0 0.25px currentcolor;
    opacity: 1;
   
}
.movies__lists .ant-tabs-tab .ant-tabs-tab-btn{
    opacity: 0.8;
}
.movies__lists .ant-tabs-tab:hover {
    color: #000;

}
.movies__lists .ant-tabs-tab .ant-tabs-tab-btn:hover {
    opacity: 1;

}
.movies__lists .ant-tabs-ink-bar {
    background: var(--text-primary);
}
/* .movies__lists .ant-tabs-nav-list {
    height: 480px;
    overflow-y: scroll;
    overflow-x: hidden;
} */
.list__phim{
    display:flex;
}
.list__info{
    padding: 0 20px;
}
.list__info p{
    font-size: 18px;
    margin: 0;
    font-weight: 600;
}
.list__info span{
    color: var(--text-color)
}
.list__time .ant-btn{
    margin: 10px 5px;
    height: 40px;
}
.list__time .ant-btn:hover, 
.list__time .ant-btn:focus {
    color: var(--text-primary);
    border-color: var(--text-primary);
    background: #fff;
}